body {
    background-color: black;
}

#maincontainer {
    display: grid;
    height: 130vh;
    grid-template-columns: 100%;
    grid-template-rows: 15% 1fr 10%;
    grid-template-areas: 
    'hd'
    'mn'
    'ft'
}

#laincontainer {
    display: grid;
    height: 130vh;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 15% 1fr 10% ;
    grid-template-areas: 
    'hd hd'
    'li lm'
    'lf ft'
}


header {
    grid-area: hd;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 60vh;
    margin-left: 60vh;
    
}

main {
    grid-area: mn;
    background: url(/img/nedladdning.gif);
    background-size: 100%;
    display: flex;
    justify-content: center;
    
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
    grid-area: lm;
    display:flex;
   
    
}
  
.slider img {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
}
  
.slider img:first-child {
    z-index: 1;
    background-size: 100%;
}

.slider img:nth-child(2) {
    z-index: 0;
}

.navigation-button {
    text-align: center;
    position: relative;
    grid-area: ft;
    display: flex;
    justify-content: center;
}
  
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
  
.active,
.dot:hover {
    background-color: #717171;
}

.laininfo {
    grid-area: li;
    background-color: rgb(37, 20, 68);
}

footer {
    grid-area: ft;
    background-color: black;
}

.lainfooter {
    grid-area: lf;
    background-color: black;
}

img {
    height: 20vh;
    width: 20vh;
}

.mainflex2 {
    background: url("../img/welcome.png");
    background-size: 100%;
    height: 70%;
    width: 70%;
    margin-bottom: 50%;

}

.taskbar {
    color: cornsilk;
    font-size: 5vh;
}

a {
    color:cornsilk;
    text-decoration: none;
}

